{% extends 'base.html' %} {% load static %}
{% block content %}
    <section
      class="tf__banner banner"
      style="background: url(images/bg/banner.jpg)"
    >
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-6 col-lg-8">
            <div class="tf__banner_text">
              <h1>
                Hi, I'm ZYAN! Creative
                <span class="cd-headline rotate-1">
                  <!-- ANIMATE TEXT VALUES: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push,  -->
                  <span class="cd-words-wrapper">
                    <b class="is-visible">Designer</b>
                    <b>Coder</b>
                    <b>Player</b>
                  </span>
                </span>
              </h1>
              <p>
                I'm a passionate UI/UX designer with a mission to create
                delightful and intuitive digital experiences. With a strong
                foundation in design principles and a keen eye for detail, I
                specialize in translating complex ideas into user-friendly
                interfaces that captivate and engage.
              </p>
              <ul>
                <li>
                  <a class="common_btn" href="#"
                    >Download Cv <i class="fa-solid fa-arrow-down-to-line"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="banner_video_btn play_btn"
                    href="../www.youtube.com/watch2b57.html?v=B-ytMSuwbf8"
                    ><i class="fa-sharp fa-solid fa-circle-play"></i> Watch the
                    Video</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4">
            <div class="tf__banner_img">
              <div class="img">
                <img
                  src="{% static 'images/banner_img_1.png' %}"
                  alt="ZYAN"
                  class="img-fluid w-100"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        BANNER END
    =================================-->
    <!--================================
        SERVICE START
    =================================-->
    <section class="tf__service pt_130 xs_pt_80" id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 m-auto">
            <div class="tf__section_heading mb_40">
              <h5 class="has-animation">MY serivce</h5>
              <h2 class="has-animation">
                Crafting stories through <br />
                design and innovation
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="tf__single_service fade_left" data-trigerId="service">
              <span>
                <img
                  src="svg/website-design.svg"
                  alt="service"
                  class="svg w-100"
                />
              </span>
              <h3>Website Design</h3>
              <p>
                Nemo design enim ipsam voluptatem quim voluptas sit aspernatur
                aut odit auting fugit sed thisnquia consequuntur magni dolores
                eos designer heresm qui
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tf__single_service fade_left" data-trigerId="service">
              <span>
                <img
                  src="svg/logo-design.svg"
                  alt="service"
                  class="svg w-100"
                />
              </span>
              <h3>Logo Design</h3>
              <p>
                Nemo design enim ipsam voluptatem quim voluptas sit aspernatur
                aut odit auting fugit sed thisnquia consequuntur magni dolores
                eos designer heresm qui
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tf__single_service fade_left" data-trigerId="service">
              <span>
                <img
                  src="svg/app-development.svg"
                  alt="service"
                  class="svg w-100"
                />
              </span>
              <h3>Apps Development</h3>
              <p>
                Nemo design enim ipsam voluptatem quim voluptas sit aspernatur
                aut odit auting fugit sed thisnquia consequuntur magni dolores
                eos designer heresm qui
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        SERVICE END
    =================================-->

    <!--================================
        ABOUT START
    =================================-->
    <section class="tf__about pt_140 xs_pt_80" id="about">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xxl-7 col-lg-6 col-xl-6">
            <div class="tf__section_heading pb_80 xs_pb_50">
              <h5 class="has-animation">About Me</h5>
              <h2 class="has-animation">
                Transforming visions into exceptional portfolios
              </h2>
            </div>
            <div class="tf__about_text">
              <p>
                Nemo design enim ipsam voluptatem quim voluptas sit aspernatur
                aut odit auting fugit sed thisnquia consequuntur magni dolores
                eos designer heresm qui ratione
              </p>
              <a class="common_btn" href="#"
                >Download Cv <i class="fa-solid fa-arrow-down-to-line"></i
              ></a>
            </div>
          </div>
          <div class="col-xxl-4 col-lg-6 col-xl-6">
            <div class="tf__about_img fade_right" data-trigerId="about">
              <img
                src="images/about_img.jpg"
                alt="ZYAN"
                class="img-fluid w-100"
              />
              <div class="tf__about_img_text">
                <i class="fas fa-chart-pie-alt"></i>
                <div class="tf__about_content">
                  <h4>Daily Activity</h4>
                  <p>Loream is ispam</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        ABOUT END
    =================================-->

    <!--================================
        DESIGN START
    =================================-->
    <section class="tf__design mt_135 xs_mt_40 mb_120 xs_mb_80" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="tf__design_text">
              <h2>Design <span>and Innovation</span></h2>
              <p class="">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                auting fugit sed thisnquia consequuntur magni dolores eos
                designer heresm qui ratione voluptatem sequi nesciuNeque porro
                quisquam est, oursqui dolorem ipsum quia dolor sit amet
                consectetur, adipisci velit, sed quia non numquam
              </p>
            </div>
            <div class="row">
              <div class="col-xl-6 col-md-6">
                <div
                  class="tf__design_counter fade_left"
                  data-trigerId="counter"
                >
                  <span class="icon">
                    <img
                      src="svg/complete-project.svg"
                      alt="counter"
                      class="svg img-fluid w-100"
                    />
                  </span>
                  <h3><span class="counter">10</span>k+</h3>
                  <p>Complete project</p>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div
                  class="tf__design_counter fade_left"
                  data-trigerId="counter"
                >
                  <span class="icon">
                    <img
                      src="svg/client-review.svg"
                      alt="counter"
                      class="img-fluid w-100 svg"
                    />
                  </span>
                  <h3><span class="counter">800</span>+</h3>
                  <p>Client review</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="tf__design_form">
              <h2 class="has-animation">GET TOUCH ME?</h2>
              <p class="">
                For your car we will do everything advice design in us repairs
                and maintenance We are the some preferred.
              </p>
              <form action="#">
                <input class="" type="text" placeholder="Your Name" />
                <input class="" type="email" placeholder="Your Email" />
                <input class="" type="text" placeholder="Phone Number" />
                <textarea class="" rows="4" placeholder="Message"></textarea>
                <button type="submit" class="common_btn">submit now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        DESIGN END
    =================================-->

    <!--================================
        SKILLS START
    =================================-->
    <section class="tf__skills pt_115 xs_pt_75 pb_70 xs_pb_30" id="skills">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-8 m-auto mb_60">
            <div class="tf__section_heading mb_40">
              <h5 class="has-animation">Education & Skill</h5>
              <h2 class="has-animation">
                Showcasing your talent <br />
                amplifying your impact
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__single_skills fade_bottom"
              data-trigerId="skills"
              data-stagger=".13"
            >
              <span>2014 - 2018</span>
              <h3>Wordpress and End Developer</h3>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut fugit sed thisnquia consequuntur magni dolores eos qui
                ratione voluptatem
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__single_skills fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <span>2012 - 2014</span>
              <h3>Python Developer</h3>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut fugit sed thisnquia consequuntur magni dolores eos qui
                ratione voluptatem
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__single_skills fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <span>2005 - 2009</span>
              <h3>Kent State University</h3>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut fugit sed thisnquia consequuntur magni dolores eos qui
                ratione voluptatem
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__single_skills fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <span>2009 - 2012</span>
              <h3>User Experience Design</h3>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                aut fugit sed thisnquia consequuntur magni dolores eos qui
                ratione voluptatem
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>HTML</p>
              <div id="bar1" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="75"></span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>Python</p>
              <div id="bar2" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="90"></span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>CSS</p>
              <div id="bar3" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="80"></span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>Photoshop</p>
              <div id="bar4" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="70"></span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>Java Script</p>
              <div id="bar5" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="70"></span>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div
              class="tf__team_skills_bar_single fade_bottom"
              data-trigerId="skills"
              data-stagger=".25"
            >
              <p>Figma</p>
              <div id="bar6" class="barfiller">
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
                <span class="fill" data-percentage="80"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        SKILLS END
    =================================-->

    <!--================================
        PORTFOLIO START
    =================================-->
    <section class="tf__portfolio mt_120 xs_mt_80" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-9 mb_30">
            <div class="tf__section_heading">
              <h5 class="has-animation">my recent Portfolio</h5>
              <h2 class="has-animation">
                Elevate your brand to new <br />
                heights with our portfolio expertise
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-md-6">
            <a
              href="../www.youtube.com/watch2b57.html?v=B-ytMSuwbf8"
              class="tf__portfolio_item play_btn"
              data-cursor="Watch <br> video"
            >
              <img
                src="images/portfolio/1.jpg"
                alt="portfolio"
                class="img-fluid w-100"
              />
              <div class="text">
                <h4>sheet metal bending</h4>
                <p>youtube</p>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              class="tf__portfolio_item play_btn"
              href="../vimeo.com/132528823.html"
              data-cursor="Watch <br> video"
            >
              <img
                src="images/portfolio/2.jpg"
                alt="portfolio"
                class="img-fluid w-100"
              />
              <div class="text">
                <h4>sheet metal bending</h4>
                <p>Vimeo</p>
              </div>
            </a>
          </div>
          <div class="col-xl-6 col-md-6">
            <a
              href="../w.soundcloud.com/player/index7b2e.html?visual=true&amp;url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F159967086&amp;show_artwork=true&amp;maxwidth=1020&amp;maxheight=1000&amp;auto_play=1"
              class="tf__portfolio_item play_btn"
              data-cursor="Audio <br> sound"
            >
              <img
                src="images/portfolio/3.jpg"
                alt="portfolio"
                class="img-fluid w-100"
              />
              <div class="text">
                <h4>sheet metal bending</h4>
                <p>soundcloud</p>
              </div>
            </a>
          </div>
          <div class="col-xl-6 col-md-6">
            <a
              href="images/portfolio/4.jpg"
              class="tf__portfolio_item image_popup"
              data-cursor="View <br> Image"
            >
              <img
                src="images/portfolio/4.jpg"
                alt="portfolio"
                class="img-fluid w-100"
              />
              <div class="text">
                <h4>sheet metal bending</h4>
                <p>Image</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        PORTFOLIO END
    =================================-->

    <!--================================
        TESTIMONIAL START
    =================================-->
    <section class="tf__testimonial pt_115 xs_pt_75">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 m-auto mb_30">
            <div class="tf__section_heading">
              <h5 class="has-animation">clients review</h5>
              <h2 class="has-animation">My testomonial</h2>
            </div>
          </div>
        </div>
        <div class="row testi_slider">
          <div class="col-xl-6">
            <div class="tf__single_testimonial">
              <div class="img">
                <img
                  src="images/testimonial/1.jpg"
                  alt="clients"
                  class="img-fluid w-100"
                />
              </div>
              <p class="rating">
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
              </p>
              <h3>Eleanor pena</h3>
              <h5>Marketing Coordinator</h5>
              <p class="description">
                Financial planners help people to knowledge in about how to
                invest and in save their moneye the most efficient way eve plan
                ners help people tioniio know ledige in about how.
              </p>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="tf__single_testimonial">
              <div class="img">
                <img
                  src="images/testimonial/2.jpg"
                  alt="clients"
                  class="img-fluid w-100"
                />
              </div>
              <p class="rating">
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
              </p>
              <h3>Eleanor pena</h3>
              <h5>Marketing Coordinator</h5>
              <p class="description">
                Financial planners help people to knowledge in about how to
                invest and in save their moneye the most efficient way eve plan
                ners help people tioniio know ledige in about how.
              </p>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="tf__single_testimonial">
              <div class="img">
                <img
                  src="images/testimonial/1.jpg"
                  alt="clients"
                  class="img-fluid w-100"
                />
              </div>
              <p class="rating">
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
                <i class="fa-solid fa-star-sharp"></i>
              </p>
              <h3>Eleanor pena</h3>
              <h5>Marketing Coordinator</h5>
              <p class="description">
                Financial planners help people to knowledge in about how to
                invest and in save their moneye the most efficient way eve plan
                ners help people tioniio know ledige in about how.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        TESTIMONIAL END
    =================================-->

    <!--================================
        BRAND START
    =================================-->
    <div class="tf__brand mt_120 xs_mt_80">
      <div class="row">
        <div class="col-12">
          <div class="marquee_animi">
            <ul>
              <li>* PHP</li>
              <li>* Pyrhon</li>
              <li>* design</li>
              <li>* world</li>
              <li>* Development</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--================================
        BRAND END
    =================================-->

    <!--================================
        BLOG START
    =================================-->
    <section class="tf__blog pt_125 xs_pt_75 pb_40 xs_pb_0" id="blogs">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-9 mb_30">
            <div class="tf__section_heading">
              <h5 class="has-animation">My blog</h5>
              <h2 class="has-animation">
                Unlocking the potential of your personal brand
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="tf__slingle_blog fade_left" data-trigerId="blogs">
              <a
                href="blog_details.html"
                class="tf__blog_img"
                data-cursor="read <br> more"
              >
                <img
                  src="images/blog/1.jpg"
                  alt="blog"
                  class="img-fluid w-100"
                />
              </a>
              <div class="tf__blog_text">
                <span>31 December,2022</span>
                <ul>
                  <li>
                    <i class="fa-sharp fa-solid fa-circle-user"></i> By admin
                  </li>
                  <li>
                    <i class="fa-sharp fa-solid fa-comments"></i> Comments (05)
                  </li>
                </ul>
                <a href="blog_details.html"
                  >The standard personal My portfolio</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="tf__slingle_blog fade_left" data-trigerId="blogs">
              <a
                href="blog_details.html"
                class="tf__blog_img"
                data-cursor="read <br> more"
              >
                <img
                  src="images/blog/2.jpg"
                  alt="blog"
                  class="img-fluid w-100"
                />
              </a>
              <div class="tf__blog_text">
                <span>31 December,2022</span>
                <ul>
                  <li>
                    <i class="fa-sharp fa-solid fa-circle-user"></i> By admin
                  </li>
                  <li>
                    <i class="fa-sharp fa-solid fa-comments"></i> Comments (05)
                  </li>
                </ul>
                <a href="blog_details.html"
                  >The standard personal My portfolio</a
                >
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="tf__slingle_blog fade_left" data-trigerId="blogs">
              <a
                href="blog_details.html"
                class="tf__blog_img"
                data-cursor="read <br> more"
              >
                <img
                  src="images/blog/3.jpg"
                  alt="blog"
                  class="img-fluid w-100"
                />
              </a>
              <div class="tf__blog_text">
                <span>31 December,2022</span>
                <ul>
                  <li>
                    <i class="fa-sharp fa-solid fa-circle-user"></i> By admin
                  </li>
                  <li>
                    <i class="fa-sharp fa-solid fa-comments"></i> Comments (05)
                  </li>
                </ul>
                <a href="blog_details.html"
                  >The standard personal My portfolio</a
                >
              </div>
            </div>
          </div>
          <div class="col-12">
            <a href="blog_list.html" class="common_btn">More Blog +</a>
          </div>
        </div>
      </div>
    </section>
    <!--================================
        BLOG END
    =================================-->
    <!--================================
        SUBSCRIBE START
    =================================-->
    <div class="tf__subscribe" style="background: url(images/bg/subscribe.jpg)">
      <div class="tf__subscribe_overlay pt_115 xs_pt_75 pb_120 xs_pb_80">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 m-auto">
              <div class="tf__subscribe_text">
                <h3 class="has-animation">SUBSCRIBE MY NEWSLETTER</h3>
                <form action="#" class="">
                  <input type="text" placeholder="Enter Your Email" />
                  <button type="submit" class="common_btn">Notify Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================================
SUBSCRIBE END
=================================-->


{% endblock %}